<div class="row mb-2 justify-content-center">
    <div class="col col-md-6 shadow-lg p-4 mb-4">
        <div class="form-group">
        <%= f.label :first_name, class:"col-md-4 text-capitalize font-weight-bold"%>
        <div class="col-md-8">
          <%= f.text_field :first_name, class: 'form-control', autofocus: true, required: true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :last_name, class:"col-md-8 text-capitalize font-weight-bold" %>
        <div class="col-md-8">
          <%= f.text_field :last_name, class: 'form-control', required: true %>
        </div>
      </div>
    </div>
</div>
        